<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      Course List
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <th>S.no</th>
        <th>Courses</th>
        </thead>
        <tbody>
          <tr *ngFor="let c of courseList">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="card ">
    <div class="card-header">
      Course Offered
    </div>
    <div class="card-body">

      <div class="form-group">
        <label for="name">Course Name</label>
        <input type="text" id="name" class="form-control" required #name>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="addCourse(name.value)">Submit</button>
      </div>

    </div>
  </div>
  <br>

  <div class="container">
    <div class="card">
      <div class="card-header">
        Batch List
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
          <th>S.no</th>
          <th>Batches</th>
          </thead>
          <tbody>
            <tr *ngFor="let c of batchList">
              <td>{{c.id}}</td>
              <td>{{c.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<br>

  <div class="container">
    <div class="card ">
      <div class="card-header">
        Add new Batch
      </div>
      <div class="card-body">

        <div class="form-group">
          <label for="name">Batch Name</label>
          <input type="text" id="name" class="form-control" required #name>
        </div>
        <select class="custom-select" #courseId>
          <option selected>Select Course</option>
          <option *ngFor ="let c of courseList" [value]="c.id">{{c.name}}</option>
        </select>
        <div class="form-group">
          <button class="btn btn-primary" (click)="addBatch(name.value,courseId.value)">Submit</button>
        </div>

      </div>
    </div>
