<header style="color: yellowgreen ; background-color:brown ; text-align:center" >
  <h1>School management System</h1>
</header>
<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div style="color: aqua; font-size : 300; background-color: darkkhaki">
      <a class="btn btn-dark" (click)="home()">Home</a>
      <a class="btn btn-dark" (click)="course()">course</a>
      <a class="btn btn-dark" (click)="student()">student</a>
      <a class="btn btn-dark" (click)="subject()">Subject</a>
      <a class="btn btn-dark" (click)="teacher()">Teacher</a>
    </div>
  </nav>
  <div *ngIf="homepage">
    <app-home></app-home>
  </div>
  <div *ngIf="coursepage">
    <app-courses></app-courses>
  </div>
  <div *ngIf="studentpage">
    <app-students></app-students>
  </div>
  <div *ngIf="subjectpage">
    <app-subjects></app-subjects>
  </div>
  <div *ngIf="teacherpage">
    <app-teachers></app-teachers>
  </div>
</div>
<footer>
  <h6>Copyright @Mridul Garg</h6>
</footer>